.finish{
    margin: auto;
    width: 80%;
    margin-top: 50px;  
}

.intro{
    margin: auto;
    width: 80%;
    margin-top: 50px;
}
.user-profile{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


#barChart{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width:900px;
}

.jobdata-container{
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 60%;
    margin: 50px auto;
    border-radius: 8px;  
}

.doughnut-container{
    margin: auto;
    max-width: 700px;
    padding: 40px;
}

.detail{
    margin: auto;
    width: 80%;
}

.table-caption{
    padding: 10px;
    background-color: #00f9ff;
    color: rgba(33, 33, 42, 1);
    font-weight: bold;
}

.jobs-table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border:1px solid whitesmoke;
}


td, th {
    margin: auto;
    padding: 10px;
    text-align: center;
  }

.nostyle-button{
    display: inline-block;
    background: none;
	color: #009fff;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
    transition: transform .12Ss ease-in-out;
}

.nostyle-button:hover{
    color: #b3e2ff;
    transform: scale(1.1);
}

.nostyle-link{
    display: inline-block;
    color: #009fff;
    text-decoration: none;
    font: inherit;
	cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform .12Ss ease-in-out;
}

.nostyle-link:hover{
    color: #b3e2ff;
    transform: scale(1.1);
}

.see-more{
    font-size: 80%;
}


.glow-button {
    text-decoration: none;
    border-radius: 4px;
    background-color:#00f9ff;
    border: none;
    color:rgba(33, 33, 42, 1);
    text-align: center;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover,.glow-button:focus {
    color: rgb(200, 200, 214);
    box-shadow: 0 5px 15px #80fcff;
    outline: none;
  }


  /* loading shimmer */

.br {
    border-radius: 8px;  
}

.card {
    position: relative;
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
}

/* .doughnut {
    border-radius: 50%;
    width :180px;
    height: 180px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.middle{
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(33, 33, 42, 1);
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
} */

.doughnut{
    margin: auto;
    max-width: 600px;
    height: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comment {
    height: 13px;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}

.wrapper {
    width: 0px;
    animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
    100% {
        width: 100%;
    }
}

.animate {
    animation : shimmer 2s infinite linear;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    background-size: 1000px 100%;
 }

 .animate-d {
    animation : shimmer-border 2s infinite linear;
    border: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
 }

@keyframes shimmer {
0% { 
    background-position: -1000px 0;
}
100% {
    background-position: 1000px 0;
}
}

#kakao-link-btn{
    background: inherit;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.top-border{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 80%;
    margin:auto;
    margin-bottom: 50px;
}

.container-bottom{
    padding-bottom: 50px;
}


/* modal */


/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: hsla(0, 0%, 100%, 0.925);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .cloud-title{
      color: rgba(33, 33, 42, 1);
      font-size: 18px;
      font-weight: bold;
  }