.finish{
    margin: auto;
    width: 80%;
    margin-top: 50px;  
}

.intro{
    margin: auto;
    width: 80%;
    margin-top: 50px;
}
.user-profile{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


#barChart{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width:900px;
}

.jobdata-container{
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 60%;
    margin: 50px auto;
    border-radius: 8px;  
}

.doughnut-container{
    margin: auto;
    max-width: 700px;
    padding: 40px;
}

.detail{
    margin: auto;
    width: 80%;
}

.title{
    padding: 10px;
}

.jobs-table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border:1px solid whitesmoke;
}


td, th {
    margin: auto;
    padding: 10px;
    text-align: center;
  }

.nostyle-button{
    background: none;
	color: #009fff;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
}

.nostyle-button:hover{
    color: #b3e2ff;
    font-size: 110%;
}

.nostyle-link{
    color: #009fff;
    text-decoration: none;
    font: inherit;
	cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.nostyle-link:hover{
    color: #b3e2ff;
    font-size: 110%;
}

.see-more{
    font-size: 80%;
}


.glow-button {
    text-decoration: none;
    border-radius: 4px;
    background-color:#00f9ff;
    border: none;
    color:rgba(33, 33, 42, 1);
    text-align: center;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    color: rgb(200, 200, 214);
    box-shadow: 0 5px 15px #80fcff;
  }


  /* loading shimmer */

.br {
    border-radius: 8px;  
}

.card {
    position: relative;
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
}

/* .doughnut {
    border-radius: 50%;
    width :180px;
    height: 180px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.middle{
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(33, 33, 42, 1);
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
} */

.doughnut{
    margin: auto;
    max-width: 600px;
    height: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.comment {
    height: 13px;
    margin: auto;
    margin-top: 30px;
    width: 80%;
}

.wrapper {
    width: 0px;
    animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
    100% {
        width: 100%;
    }
}

.animate {
    animation : shimmer 2s infinite linear;
    background: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
    background-size: 1000px 100%;
 }

 .animate-d {
    animation : shimmer-border 2s infinite linear;
    border: linear-gradient(to right, transparent 0%, #E8E8E8 50%, transparent 100%);
 }

@keyframes shimmer {
0% { 
    background-position: -1000px 0;
}
100% {
    background-position: 1000px 0;
}
}

.no-style{
    background: inherit;
    border: none;
    cursor: pointer;
}

.top-border{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 80%;
    margin:auto;
    margin-bottom: 50px;
}

.container-bottom{
    padding-bottom: 50px;
}