

.intro{
    margin: auto;
    width: 80%;
    margin-top: 50px;
}
.user-profile{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


#barChart{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.doughnut-container{
    margin: auto;
    width: 50%;
    padding: 40px;
}

.jobs-table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    border:1px solid whitesmoke;
}

td, th {
    margin: auto;
    padding: 10px;
    text-align: center;
  }

.nostyle-button{
    background: none;
	color: #009fff;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.nostyle-button:hover{
    color: #b3e2ff;
    font-size: 110%;
}